.standart-text {
  font-size: 16px;
  color: black;
  text-transform: none;
}

.standart-text-n {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.main_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(226, 208, 183);
  width: 100%;
}
.main_container h1 {
  color: black;
  padding-left: 100px;
}

.review-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: antiquewhite;
}
.review-slider__container .review-slider__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 226px;
  width: 442px;
  -webkit-box-shadow: 0px 11px 28px -1 rgba(0, 0, 0, 0.311);
          box-shadow: 0px 11px 28px -1 rgba(0, 0, 0, 0.311);
  background-color: white;
  border-radius: 10px;
}
.review-slider__container .review-slider__item .content {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 23px;
  padding-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.review-slider__container .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 44px;
}