.main_conteiner_cards{
    display: grid;
    width: 100%;
    margin-top: 70px;
    
}

.conteiner_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
    height: 284px;

    &-image{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-repeat: no-repeat;
        height: 245px;
        border-radius: 10px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        gap: 22px;

        p{
            color: white;
            font-weight: 700;
            font-size: 20px;
        }


        .white-btn{
            opacity: 0;
            visibility: hidden;
            width: 217px;
            height: 41px;
            background-color: rgba(255, 255, 255, 0);
            
            border: 1px solid white;
            transition: opacity 0.4s ease;
            border-radius: 7px;


            a{
                color: white;
                font-weight: 700;
            }

            

        }
        .white-btn:hover{
            background-color: white;
            color: black;
            transition: opacity 0.4s ease;


        }

        .white-btn:hover a{
            
            color: black;
            

            
        }


    }

    &-image:hover{
        .white-btn{
            opacity: 1;
            visibility: visible;
        }
         
    }
    
    &__info{

        display: flex;
        height: 20px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
       
        padding-left: 38px;
        padding-right: 38px;
        
        p{
            color: black;
            font-weight: 700;
        }
    }

}


