.container__page {
    width: 100dvw;
    max-width: 1200px;
    padding: 0 20px;
    overflow: hidden;
}

#feedback-slider {
    overflow-x: hidden;
}

.feedback{
    width: 100%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
    position: relative;


    h2{
        margin-bottom: 42px;
        margin-top: 130px;
        padding-left: 100px;
    }

    .feedback__item{
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 442px;
        max-height: 226px;
        border-radius: 10px;
        padding: 45px 24px;
        box-shadow: 10px 10px 30px rgba(18, 18, 18, 0.183);
        

        .big-text{
            font-size: 24px;
            margin: 0;


            
        }
    }
}

