.cards_collection{
    display: flex;
    gap: 25px;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    padding-top: 67px;
}

.card{
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: aquamarine;
    height: 266px;
    
    padding-left: 48px;
    align-items: center;

    .card__glass{
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 163px;
        gap: 56px;
        padding: 16px 31px;
        /* 1. Полупрозрачный фон */
        background: rgba(255, 255, 255, 0.2);
        /* 2. Размытие того, что за элементом */
        backdrop-filter: blur(2px);
        -webkit-backdrop-filter: blur(2px); /* Для поддержки Safari */
        /* 3. Границы и скругление */
        border-radius: 15px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        /* 4. Тень для эффекта парения */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        
        .card__glass-text{
            display: flex;
            flex-direction: column;
            gap: 13px;
            
            .standart-text{
                text-transform: none;
                color: white;
            }
            .big-text{
                color: white;
            }
        }
        
        .card__glass-arrow{
            display: flex;
            width: 100%;
            justify-content: end;
        }

    }
        
}

@media (max-width: 654px) {
  .card__glass{
    gap: 15px;
    
  }
}