.standart-text{  
    font-size: 16px;
    color: black;
    text-transform: none;
}

.standart-text-n{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    letter-spacing: 3%;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}

.main_container{
    display: flex;
    gap: 40px;
    flex-direction: column;
    background-color: rgb(226, 208, 183);
    width: 100%;

    h1{
        color: black;
        padding-left: 100px;
    }
    
}

.review-slider__container{
    display: flex;
    width: 100%;
    background-color: antiquewhite;

    

    .review-slider__item {
        display: flex;
        height: 226px;
        width: 442px;
        box-shadow: 0px 11px 28px -1 rgba(0, 0, 0, 0.311);
        background-color: white;
        border-radius: 10px;
        
        .content{
            padding-top: 45px;
            padding-bottom: 45px;
            padding-left: 23px;
            padding-right: 23px;
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-direction: column;
            
        }
    }

    .swiper-wrapper{
        display: flex;
        width: 100%;
        flex-direction: row;
        gap: 44px;
    }
}
