.welcome{
    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 729px;
    background-color: aqua;

    .welcome-text{
        max-width: 50%;
    }

    .welcome-img{
        height: 100px;
        width: 100px;
    }
}
