@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.title-footer{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 3%;
    text-transform: none;
    list-style-type: none;
    color: rgb(0, 0, 0);

    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

.link-footer{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 3%;
    text-transform: none;
    list-style-type: none;
    color: rgb(0, 0, 0);

    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

.small-text{
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    letter-spacing: 3%;
    text-transform: uppercase;
    list-style-type: none;
    color: rgb(90, 90, 90);
    max-width: 261px;
}

ul {
    padding: 0;
}

footer{
    
    background-color: rgb(219, 219, 219);
    padding: 40px 89px 40px;
    margin-top: 130px;

    &__container{
        width: 100%;
        

    } 
    
     .footer__container-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
       
        padding-bottom: 10px;

            
    }



    nav{
        display: flex;
        flex-wrap: wrap;
        gap: 80px;

        
    }

    .nav-contact{
        display: flex;
        flex-direction: column;
        gap: 17px;

        .title-footer{
            font-size: 24px;
        }


        
    }

    .contacts{
        display: flex;
        flex-direction: column;
        gap: 2px;

    }

    hr{
        color: rgb(173, 173, 173);
        
        
    }
               

}

.footer__container-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
    padding-top: 10px;
    align-items: center;

    &-li{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .logo{
        max-width: 111px;
    }

}

@media (max-width: 1291px) {
    .footer__container-nav{
        display: flex;
        gap: 50px;
        flex-direction: column;
        
        justify-content: center;
    }
}
@media (max-width: 585px) {
    .footer__container-social{
        gap: 40px;
        justify-content: center;
    }
}

