header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 96px;
    background-color: rgb(21, 21, 21);
    padding-left: 100px;
    padding-right: 100px;

    .header__content{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        

        .header__content-menu{
            display: flex;
            align-items: center;
            gap: 25px;

            ul{
                display: flex;
                flex-direction: row;
                gap: 26px;
                list-style-type: none;
                align-items: center;
                
                a{
                    text-decoration: none;
                    color: white;
                }

                .tel{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;

                    a{
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}