.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid black;
  border-radius: 9px;
  padding: 11px 11px;
  cursor: pointer;
}
.menu__item a.active {
  color: rgb(0, 0, 0);
  font-weight: 700;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.menu__item a {
  text-decoration: none;
}
.menu__item:hover {
  background-color: black;
}
.menu__item:hover a {
  color: white;
}

.no-products {
  text-align: center;
  padding: 50px;
  width: 100%;
}

.no-products p {
  font-size: 18px;
  color: #666;
}