.container{
    display: grid;
    grid-template-columns: auto 50%;
    
    gap: 70px;
    max-width: 100%;
    margin-top: 70px;
    padding-left: 100px;
    

    &__img{
        
        
        
        img{
            object-fit: contain;
            height: auto;
            
            width: 100%;
        }
    }
    
    &__text{
        display: flex;
        flex-direction: column;
        padding-top: 46px;
        gap: 14px;
        max-width: 100%;
        

        .standart-text{
            text-transform: none;
            max-width: 80%;
        }
    }
}