@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
}

.standart-text {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: white;
}

.big-text {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: white;
}

.white-btn {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: black;
  border-radius: 10px;
  border: none;
  background-color: white;
  width: 346px;
  height: 70px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 130px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 19px;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 86%;
  height: 130px;
  background-color: rgba(128, 128, 128, 0);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__content-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__content-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 26px;
  list-style-type: none;
}
.header__content-menu ul a {
  text-decoration: none;
  color: white;
}
.header__content-menu ul .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.header__content-menu ul .tel a {
  text-decoration: underline;
}

.welcome {
  background-repeat: no-repeat;
  height: 1000px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
  padding-left: 211px;
  width: 73%;
  height: 270px;
}
.welcome__content-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}
.welcome__content-name .big-text {
  width: 562px;
}
.welcome__content-name .standart-text {
  width: 626px;
  text-transform: none;
}

.lenta {
  width: 100%;
  height: 280px;
  padding-bottom: 130px;
  padding-top: 130px;
}
.lenta img {
  width: 100%;
}