{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{% static 'web/css/stylesCommon.css' %}">
    <link rel="shortcut icon" href="{% static 'web/images/logo3.svg' %}" type="image/x-icon">
    <title>{{title}}</title>
</head>
    <body>
        
        {% include "components/headerCommon.html" %}

            <div class="text_path">
                <p class="standart-text">Главная / {{title}}</p>
                
                <p class="big-text">{{title}}</p>
            </div>

            {% block content %}
            
            {% endblock content %} 
        
        {% include "components/footer.html" %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    </body>
</html>