{% extends "web/base_all.html" %}
{% load static %}
    
{% block path %}
    <div class="text_path">
        <p class="standart-text">Главная / {{title}}</p>
            
        <p class="big-text">{{title}}</p>
    </div>   
{% endblock path %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'web/css/catalog.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    {% include "components/menu-category.html" %}
    {% include "components/menu-sort.html" %}
    <div class="main_container">
        {% include "components/sidebar.html" %}
        {% include "components/card_product.html" %}
    </div>

<script src="{% static 'web/js/filterCatalog.js' %}"></script>
<script src="{% static 'web/js/sortMenu.js' %}"></script>


{% endblock content %}