{% extends "web/base.html" %}

{% load static %}


{% block welcome %}
    <div class="welcome" style="background-image: url('{% static 'web/images/welcome.svg' %}');">
        {% block header %}
        <header class="header">
            <div class="header__content">
                <div class="header__content-logo">
                    <a href="{% url 'web:home' %}"><img src="{% static 'web/images/logo.svg' %}"></a>
                </div>
                <div class="header__content-menu">
                    <ul>
                        <li><a href="{% url 'web:catalog' %}" class="standart-text">Каталог</a></li>
                        <li><a href="{% url 'web:info_user' %}" class="standart-text">Пользователям</a></li>
                        <li><a href="{% url 'web:collections' %}" class="standart-text">Коллекции</a></li>
                        <li><a href="{% url 'web:designer_for' %}" class="standart-text">Дизайнерам</a></li>
                        <li><a href="{% url 'web:portfolio' %}" class="standart-text">Портфолио</a></li>
                        <div class="tel"> 
                            <img src="{% static 'web/images/tel.svg' %}">
                            <a href="#" class="standart-text">8 (918) 525-00-01</a>
                        </div>
                    </ul>
                </div>
            </div>
        </header>
        {% endblock header %}
        <div class="welcome__content">
            <div class="welcome__content-name">
                <p class="big-text">Дизайнерские предметы интерьера на заказ</p>
                <p class="standart-text">От вашей мечты до готового интерьера: создаем единственные в своем роде вещи, которые идеально вписываются в ваше пространство и жизнь.</p>
            </div>
            <button class="white-btn">Заказать индивидуальный проект</button>
        </div>
    </div>
{% endblock welcome %}








