{% extends "web/base_all.html" %}
{% load static %}
{% block path %}
    <div class="text_path">
        <p class="standart-text">Главная / Каталог / {{product.name}}</p>
    </div>          
{% endblock path %}
{% block content %}
    <link type="text/css" rel="stylesheet" href="{% static 'web/css/product-detail.css' %}">
    <div class="product-card_container">
        <div class="product-card">
            <!-- Галерея изображений -->
            <div class="gallery-container">
                <div class="thumbnails">
                    {% for index, image_url in images %}
                    <div class="thumbnail" data-index="{{index}}">
                        <img src="{{image_url}}" />
                    </div>
                    {% endfor %}
                </div>
                <div class="main-image-wrapper">
                    <img class="main-image" src="{{product.main_image.url}}" alt="{{product.name}}" />
                    <div class="nav-arrow prev-arrow">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15 18L9 12L15 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </div>
                    <div class="nav-arrow next-arrow">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 18L15 12L9 6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>
                    </div>
                </div>
            </div>

            <!-- Информация о товаре -->
            <div class="product-info">
                <h1 class="big-text" style="font-size: 24px;">{{product.name}}</h1>
                <ul class="product-details">
                    <li class="standart-text" style="text-transform: none;">Стиль: {{product.style}}</li>
                    <li class="standart-text" style="text-transform: none;">Материал: {{product.material}}</li>
                    <li class="standart-text" style="text-transform: none;">Параметры:</li>
                    <li class="standart-text" style="text-transform: none;">Длина - {{product.length}}</li>
                    <li class="standart-text" style="text-transform: none;">Ширина - {{product.width}}</li>
                    <li class="standart-text" style="text-transform: none;">Высота - {{product.height}}</li>
                </ul>
                <div class="big-text" style="font-size: 24px;">{{product.price}} ₽</div>
                <a class="action-button" href="{% url 'web:home' %}#ticket-form" style="border: 2px solid">ОСТАВИТЬ ЗАЯВКУ</a>
                <a href="{% url 'web:designer_for' %}" class="designer-link">Вы дизайнер? <span>Узнать специальную цену</span></a>
            </div>
        </div>
    </div>

    <div class="container-dropdown">
        <div class="dropdown" id="price-dropdown">
            <div class="dropdown-header">
                <span class="big-text">Размер и характеристики</span>
                <img class="chevron" src="{% static 'web/images/arrow-bottom.svg' %}">
            </div>
            <div class="dropdown-content">
                <div class="desc-inputs">
                    <p class="standart-text">{{product.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="product__recommends">
        <h1 class="big-text">Возможно вам понравится</h1> 

        {% include "components/card_product.html" with products=recommends %}
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static 'web/js/gallery.js' %}"></script>
    <script src="{% static 'web/js/SideBarFilter.js' %}"></script>
{% endblock content %}


