{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'web/css/advantages.css' %}">

<div class="features">
    <!-- Section 1 -->
    <div class="feature-item">
        <div class="feature-text">
            <h2 class="big-text">Высокое качество изделий</h2>
            <p class="standart-text">
                Качество выполненных предметов интерьера залог не только высококлассного оборудования, но и работы целой команды мастеров своего дела. Качество выполненных предметов интерьера залог не только высококлассного оборудования, но и работы целой команды мастеров своего дела.
            </p>
        </div>
        <div class="feature-images">
            <img class="img-main" src="{% static 'web/images/work1.png' %}">
            <img class="img-secondary" src="{% static 'web/images/work2.png' %}">
        </div>
    </div>

    <!-- Section 2 -->
    <div class="feature-item reverse">
        <div class="feature-text">
            <h2 class="big-text">Индивидуальный подход</h2>
            <p class="standart-text">
                Мы стремимся дарить нашим клиентам положительные эмоции благодаря нашей продукции, поэтому всегда прислушиваемся к желаниям каждого.
            </p>
        </div>
        <div class="feature-images">
            <img class="img-main" src="{% static 'web/images/lampa.png' %}">
            <img class="img-secondary" src="{% static 'web/images/lampa.png' %}">
        </div>
    </div>

    <!-- Section 3 -->
    <div class="feature-item">
        <div class="feature-text">
            <h2 class="big-text">Эксклюзивность</h2>
            <p class="standart-text">
                Мы стремимся дарить нашим клиентам положительные эмоции благодаря нашей продукции, поэтому всегда прислушиваемся к желаниям каждого.
            </p>
        </div>
        <div class="feature-images">
            <img class="img-main" src="{% static 'web/images/lampa.png' %}">
            <img class="img-secondary" src="{% static 'web/images/lampa.png' %}">
        </div>
    </div>
</div>