{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'web/css/advantages.css' %}">

{% block advantages %}
    <div class="container">
        <div class="block-advantage">
            <div class="block-advantage__info">
                <p class="big-text">Высокое качество изделий</p>
                <p class="standart-text">Качество  выполненных предметов интерьера залог  не только высококлассного оборудования, но и  работы целой команды мастеров своего дела. качество  выполненных предметов интерьера залог  не только высококлассного оборудования, но и  работы целой команды мастеров своего дела.</p>
            </div>
            <div class="block-advantage__img">
                <div class="block-advantage__img-up"><img class="img" src="{% static 'web/images/process2.png' %}"></div>
                <div class="block-advantage__img-down"><img class="img" src="{% static 'web/images/process1.png' %}"></div>
            </div>
        </div>

         <div class="block-advantage">
            <div class="block-advantage__info">
                <p class="big-text">Высокое качество изделий</p>
                <p class="standart-text">Качество  выполненных предметов интерьера залог  не только высококлассного оборудования, но и  работы целой команды мастеров своего дела. качество  выполненных предметов интерьера залог  не только высококлассного оборудования, но и  работы целой команды мастеров своего дела.</p>
            </div>
            <div class="block-advantage__img">
                <div class="block-advantage__img-up"><img class="img" src="{% static 'web/images/process2.png' %}"></div>
                <div class="block-advantage__img-down"><img class="img" src="{% static 'web/images/process1.png' %}"></div>
            </div>
        </div>

         <div class="block-advantage">
            <div class="block-advantage__info">
                <p class="big-text">Высокое качество изделий</p>
                <p class="standart-text">Качество  выполненных предметов интерьера залог  не только высококлассного оборудования, но и  работы целой команды мастеров своего дела. качество  выполненных предметов интерьера залог  не только высококлассного оборудования, но и  работы целой команды мастеров своего дела.</p>
            </div>
            <div class="block-advantage__img">
                <div class="block-advantage__img-up"><img class="img" src="{% static 'web/images/process2.png' %}"></div>
                <div class="block-advantage__img-down"><img class="img" src="{% static 'web/images/process1.png' %}"></div>
            </div>
        </div>
    </div>
{% endblock advantages %}