{% load static %}

<link type="text/css" rel="stylesheet" href="{% static 'web/css/card_review.css' %}">




<script src="https://cdn.jsdelivr.net/npm/swiper@12/swiper-bundle.min.js"></script>

<div class="container__page">
  <div class="feedback">
    <h2 class="big-text">Отзывы</h2>
    <div id="feedback-slider">
      <div class="swiper-wrapper feedback__wrapper">
        {% for r in reviews %}
          <div class="feedback__item swiper-slide">
              <p class="standart-text">{{ r.description }}</p>
              <p class="big-text">— {{ r.name }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



<script type="module" src="{% static 'web/js/reviewSlider.js' %}"></script>