{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'web/css/card_product.css' %}">


<div class="cards_container">
    {% for p in products%}
    <div class="card" >
        <!-- <div class="product_img" style="background-image: url('{{ p.main_image.url }}');"> -->
        <div class="product_img" style="background-image: url('{{ p.main_image.url }}');">

        </div>
        <div class="card_content">
            <div class="card_content-info">
                <p class="standart-text" style="font-weight: 700;" >{{p.name}}</p>
                <p class="standart-text" style="text-transform: none;" >Цена от {{p.price}} ₽</p>
            </div>
            <div class="card_content-act">
                <button class="btn">
                    Заказать
                </button>
                <img src="{% static 'web/images/arrow-black.svg' %}">
            </div>
            

        </div>
        
    </div>
    {% endfor %}
</div>
    
