{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'web/css/description.css' %}">
<div class="page-container">
    <div class="info-product__container">
        <div class="info-product-text__container">
            <h2 class="big-text">MAJOR</h2>
            <p class="standart-text">
                Наша продукция - это отражение индивидуальности каждого клиента.
                Каждый предмет является результатом кропотливой работы команды и
                прослужит вам долгие годы. Поэтому наш проект - это создание будущей
                истории. Мы проектируем и мастерим с мыслью о том, что эта вещь
                переживет годы, став свидетелем вашей жизни, ее поворотов и радостей.
                Она — материальный сюжет вашей личной легенды. В нашей тщательности —
                уважение к вашему времени и доверию, которые станут основой этой
                истории на десятилетия.
            </p>
        </div>
        <div class="info-product-image__container">
            <img src="{% static 'web/images/panel.png' %}" class="info-product-image__panel" />
            <img src="{% static 'web/images/lamp.png' %}" class="info-product-image__lamp" />
        </div>
    </div>
</div>
