{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'web/css/footer.css' %}">

<footer>
    <div class="footer__container">
        <div class="footer__container-nav">
            <nav>
                <ul class="nav-link">
                    <li class="title-footer">Покупателям</li>
                    <li class="link-footer"><a href="#">Оплата и доставка</a></li>
                    <li class="link-footer"><a href="#">Условия доставки</a></li>
                    <li class="link-footer"><a href="#">Сроки доставки</a></li>
                    <li class="link-footer"><a href="#">Сроки изготовления</a></li>
                </ul>
                <ul class="nav-link">
                    <li class="title-footer">Продукция</li>
                    <li class="link-footer"><a href="#">Каталог</a></li>
                    <li class="link-footer"><a href="#">Коллекции</a></li>
                </ul>
                <ul class="nav-link">
                    <li class="title-footer">Информация</li>
                    <li class="link-footer"><a href="#">О нас</a></li>
                    <li class="link-footer"><a href="#">Договор оферты</a></li>
                    <li class="link-footer"><a href="#">Политика конфиденциальности</a></li>
                    <li class="link-footer"><a href="#">Согласие на обработку данных</a></li>
                </ul>
                <ul class="nav-link">
                    <li class="title-footer">Проекты</li>
                    <li class="link-footer"><a href="#">Портфолио</a></li>
                    <li class="link-footer"><a href="#">Дизайнерам</a></li>
                </ul>
            </nav>

            <nav>
                <ul class="nav-contact">
                    <li class="title-footer">Свяжитесь с нами</li>
                    <div class="contacts">
                        <li class="link-footer"><a href="tel:+71234567890">8 (918) 525-00-01</a></li>
                        <li class="link-footer"><a href="mailto:info@company.ru">major.support@gmail.com</a></li>
                    </div>
                    
                    <li class="small-text">Если у вас появились вопросы или предложения, то можете связаться с нами удобным вам способом.</li>
                </ul>

            </nav>

        </div>

        <hr>

        <div class="footer__container-social">
            <img class="logo" src="{% static 'web/images/logo-black.png' %}">
            <div class="footer__container-social-li">
                <img class="social" src="{% static 'web/images/telega.svg' %}">
                <img class="social" src="{% static 'web/images/vk.svg' %}">
                <img class="social" src="{% static 'web/images/pinterest.svg' %}">
                <img class="social" src="{% static 'web/images/whatsapp.svg' %}">
            </div>
        </div>
        
    </div>
</footer>