{% load static %}
{% load setting %}

<link type="text/css" rel="stylesheet" href="{% static 'web/css/footer.css' %}">

<footer>
    <div class="footer__container">
        <div class="footer__container-nav">
            <nav>
                <ul class="nav-link">
                    <li class="title-footer">Покупателям</li>
                    <li class="link-footer"><a href="{% url 'web:info_user' %}">Оплата и доставка</a></li>
                    <li class="link-footer"><a href="{% url 'web:info_user' %}">Условия доставки</a></li>
                    <li class="link-footer"><a href="{% url 'web:info_user' %}">Сроки доставки</a></li>
                    <li class="link-footer"><a href="{% url 'web:info_user' %}">Сроки изготовления</a></li>
                </ul>
                <ul class="nav-link">
                    <li class="title-footer">Продукция</li>
                    <li class="link-footer"><a href="{% url 'web:catalog' %}">Каталог</a></li>
                    <li class="link-footer"><a href="{% url 'web:collections' %}">Коллекции</a></li>
                </ul>
                <ul class="nav-link">
                    <li class="title-footer">Информация</li>
                    <li class="link-footer"><a href="{% url 'web:home' %}#about-us">О нас</a></li>
                    <li class="link-footer"><a href="{{ settings|setting_value:'offer_agreement' }}">Договор оферты</a></li>
                    <li class="link-footer"><a href="{{ settings|setting_value:'privacy_policy' }}">Политика конфиденциальности</a></li>
                    <li class="link-footer"><a href="{{ settings|setting_value:'personal_data' }}">Согласие на обработку данных</a></li>
                </ul>
                <ul class="nav-link">
                    <li class="title-footer">Проекты</li>
                    <li class="link-footer"><a href="{% url 'web:portfolio' %}">Портфолио</a></li>
                    <li class="link-footer"><a href="{% url 'web:designer_for' %}">Дизайнерам</a></li>
                </ul>
            </nav>

            <nav>
                <ul class="nav-contact">
                    <li class="title-footer">Свяжитесь с нами</li>
                    <div class="contacts">
                        <li class="link-footer"><a href="tel:{{ settings|setting_value:'business_time' }}">{{ settings|setting_value:'phone' }}</a></li>
                        <li class="link-footer"><a href="mailto:{{ settings|setting_value:'email' }}">{{ settings|setting_value:'email' }}</a></li>
                    </div>
                    
                    <li class="small-text">Если у вас появились вопросы или предложения, то можете связаться с нами удобным вам способом.</li>
                </ul>

            </nav>

        </div>

        <hr>

        <div class="footer__container-social">
            <img class="logo" src="{% static 'web/images/logo-black.png' %}">
            <div class="footer__container-social-li">
                <a href="{{ settings|setting_value:'telegram' }}" class="social"><img class="social" src="{% static 'web/images/telega.svg' %}"></a>
                <a href="{{ settings|setting_value:'vk' }}" class="social"><img class="social" src="{% static 'web/images/vk.svg' %}"></a>
                <a href="{{ settings|setting_value:'pinterest' }}" class="social"><img class="social" src="{% static 'web/images/pinterest.svg' %}"></a>
                <a href="{{ settings|setting_value:'whatsapp' }}" class="social"><img class="social" src="{% static 'web/images/whatsapp.svg' %}"></a>
            </div>
        </div>
        
    </div>
</footer>