{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'web/css/header.css' %}">
<header>
    <div class="header__content">
        <img src="{% static 'web/images/logo3.svg' %}">
        <div class="header__content-menu">
            <ul>
                <li><a href="{% url 'web:catalog' %}" class="standart-text">Каталог</a></li>
                <li><a href="{% url 'web:info_user' %}" class="standart-text">Пользователям</a></li>
                <li><a href="{% url 'web:collections' %}" class="standart-text">Коллекции</a></li>
                <li><a href="{% url 'web:designer_for' %}" class="standart-text">Дизайнерам</a></li>
                <li><a href="{% url 'web:portfolio' %}" class="standart-text">Портфолио</a></li>
                <div class="tel"> 
                    <img src="{% static 'web/images/tel.svg' %}">
                    <a href="#" class="standart-text">8 (918) 525-00-01</a>
                </div>
                
            </ul>
        </div>


    </div>
</header>
