{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'web/css/info-menu.css' %}">

<div class="container-dropdown">
    <div class="dropdown" id="price-dropdown">
        <div class="dropdown-header">
            <span class="big-text">Оплата</span>
            <img class="chevron" src="{% static 'web/images/arrow-bottom.svg' %}">
        </div>
        <div class="dropdown-content">
            <div class="desc-inputs">
                <p class="standart-text">Оплата продукции дизайн студии MAJOR производится в соответствии с договором. </p>
            </div>
        </div>
    </div>
    <div class="dropdown" id="price-dropdown">
        <div class="dropdown-header">
            <span class="big-text">Доставка</span>
            <img class="chevron" src="{% static 'web/images/arrow-bottom.svg' %}">
        </div>
        <div class="dropdown-content">
            <div class="desc-inputs">
                <p class="standart-text">Оплата продукции дизайн студии MAJOR производится в соответствии с договором. </p>
            </div>
        </div>
    </div>
    <div class="dropdown" id="price-dropdown">
        <div class="dropdown-header">
            <span class="big-text">Сроки изготовления</span>
            <img class="chevron" src="{% static 'web/images/arrow-bottom.svg' %}">
        </div>
        <div class="dropdown-content">
            <div class="desc-inputs">
                <p class="standart-text">Оплата продукции дизайн студии MAJOR производится в соответствии с договором. </p>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'web/js/SideBarFilter.js' %}"></script>

